body {
  background-color: #3f3697;
}

.heading {
  margin: 5px auto;
  text-align: center;
  text-transform: capitalize;
  color: aliceblue;
}

.sort {
  float: right;
}

.btn {
  margin: 10px;
}

#bars {
  margin: 100px 10px;
}

.special {
  float: left;
  background: rgb(0, 255, 55);
  margin: 0;
  opacity: 0.7;
  border: 1px solid black;
}
